@import "tailwindcss";

:root {
  /* Brand Colors */
  --brand-primary: #d4af37;
  --brand-secondary: #a1a1aa;
  --brand-accent: #050505;
  --brand-inverse: #fafafa;
  --brand-primary-light: #e7c873;

  /* Theme */
  --background: var(--brand-accent);
  --foreground: var(--brand-inverse);
}

@theme {
  --color-primary: var(--brand-primary);
  --color-secondary: var(--brand-secondary);
  --color-accent: var(--brand-accent);
  --color-inverse: var(--brand-inverse);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-mono: var(--font-jetbrains-mono);
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-jetBrain-mono), sans-serif;
}